<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- Java : firstName -> DB : first_name -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- Null에 대한 처리 -->
		<!-- 결과로 넘어온 null을 어떻게 표현할거야? 문자를 표현하고 싶다면 varchar-->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="com.yedam.app"/> <!-- *는 사실상 사용할 수 없다. -->
	</typeAliases>
	<typeHandlers>
		<!--  java.util.Date 로 변환 -->
		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>
</configuration>  